{{! vim: set ft=html: }}

<!-- TODO: add navigation -->

<html>
    <head>
    </head>
    <body>
        <a href="/logout">Logout</a>
        <br>
        <a href="/ui/events">Events</a>
        <a href="/ui/new">New</a>
        <a href="/ui/announcements">Announcements</a>
        <a href="/ui/clubs">Clubs</a>
        <a href="/ui/lunch_events">Lunch Events</a>
        <a href="/ui/polls">Polls</a>
        <a href="/ui/ssl_ops">SSL Opportunities</a>
        <a href="/ui/student">Students of the Week</a>
    </body>
</html>
