{{! vim: set ft=html: }}

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form onsubmit="forwardForImage('new_f', 'new/add')" id="new_f" name="new_f"> 
            <select name="lang", id="lang">
                <option value="en">en</option>
                <option value="es">es</option>
            </select>
            <input type="file" name="image", id="image", accept="image/png">
            <input type="text", id="name", name="name">
            <input type="text", id="new_date", name="new_date">
            <input type="submit", value="Submit">
        </form>
    </body>
    <!-- <script src="/static/jquery.min.js"></script> -->
    <script src="/static/utils.js"></script>
</html>
